
.faq-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-container h1 {
  color: #333;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.faqs {
  border-top: 2px solid #FFD700;
}

.faq {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.faq-question {
  color: #333;
  font-weight: 500;
}

.faq-answer {
  color: #666;
  margin-top: 5px;
}

.page-container {
  /* display: flex; */
  flex-direction: column;
  min-height: 70vh;
}

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
